<div class="top-container">
  <div class="top-title">
    <h1>集中メソッド</h1>
  </div>

  <div class="sentence">
    <p>このサイトは、勉強する時に思うように集中できない、集中力が続かない方や、</p>
    <p>勉強はするけど、アウトプットをあまりしないという方向けに作りました</p>
  </div>

  <div class="to-concentrate">
    <p>今すぐ集中モードに入る</p>
    <%= link_to "集中！！",  timers_index_path %>
    <br>
    <p>今日は終わろ</p>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  </div>
</div>