<h1>精神と時の部屋</h1>
<p>ここは精神と時の部屋、己の自己研鑽に使え、使わぬのならすまないが</p>

<%= link_to "ログアウト", destroy_user_session_path, method: :delete %> <!-- ログアウトをする -->
<br>
<p>自己研鑽をしにきた猛者はここから入るが良い</p>
<%= link_to "集中部屋", '/' %>