<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>集中！</title>
    <link rel="stylesheet" href="css/timer.css">
  </head>
  <body>
    <div class="container">
      <div id="timer">00:00.000</div>
      <div class="controls">
        <div id="tenmin">10分</div>
        <div id="min">1分</div>
        <div id="sec">1秒</div>
        <div id="reset">Reset</div>
        <div id="start">Start</div>
      </div>
    </div>
    <script src="javascript/concentrate.js"></script>
  </body>
</html>