<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>集中！</title>
    <link rel="stylesheet" href="css/timer.css">
  </head>
  <body>
    <div class="container">
      <div id="timer">00:00.000</div>
      <div class="controls">
        <button id="min">Min</button>
        <button id="sec">Sec</button>
        <button id="reset">Reset</button>
        <button id="start">Start</button>
      </div>
    </div>
    <script src="javascript/concentrate.js"></script>
  </body>
</html>