<h1>集中部屋</h1>
<p>人間、深い集中力は15分しかもたない</p>
<p>持続できても30〜45分が良いところ</p>
<p>それを考慮して時間設定すると良い</p>
<p>慣れるまでは25分で設定し勉強してみよ</p>

<div class="container">
  <div id="timer">00:00.000</div>
  <div class="controls">
    <div id="min">Min</div>
    <div id="sec">Sec</div>
    <div id="reset">Reset</div>
    <div id="start">Start</div>
  </div>
</div>

<%= link_to "アウトプット部屋", outputs_index_path %>