<div class="concentrate-room-container">
  <div class="concentrate-room">
    <h1>集中部屋</h1>
  </div>

  <div class="consentrate-text">
    <p class="sentence">人間、深い集中力は15分しかもたない</p>
    <p class="sentence">持続できても30〜45分が良いところ</p>
    <p class="sentence">それを考慮して時間設定すると良い</p>
    <p class="sentence">慣れるまでは25分で設定し勉強してみよ</p>
  </div>

  <div class="container">
    <div id="timer">00:00.000</div>
    <div class="controls">
      <div id="tenmin">tenMin</div>
      <div id="min">Min</div>
      <div id="sec">Sec</div>
      <div id="reset">Reset</div>
      <div id="start">Start</div>
    </div>
  </div>
  <div class="output-room">
    <%= link_to "アウトプット部屋", outputs_index_path ,class:"output-btn" %>
  </div>
</div>