<h1>Timers#index</h1>
<p>Find me in app/views/timers/index.html.erb</p>

    <div class="container">
      <div id="timer">00:00.000</div>
      <div class="controls">
        <div id="min">Min</div>
        <div id="sec">Sec</div>
        <div id="reset">Reset</div>
        <div id="start">Start</div>
      </div>
    </div>