body {
  font-family: 'Courier New', sans-serif;
  font-size: 14px;
  background-color: lightskyblue;

}

.container {
  margin: 20px auto;
  width: 365px;
  background-color: #fff;
  padding: 15px;
  text-align: center;
}

#timer {
  background-color: #ddd;
  height: 120px;
  line-height: 120px;
  font-size: 40px;
  margin-bottom: 15px;
}

.controls > div {
  cursor: pointer;
  user-select: none;
  width: 60px;
  background-color: #ddd;
  height: 40px;
  line-height: 45px;
  float: left;
}

.controls {
  overflow: hidden;
}

.controls > div + div {
  margin-left: 15px;
}

.controls > div:hover {
  opacity: 0.7;
}

.concentrate-room {
  text-align: center;
  color: darkblue;
}

.sentence {
  text-align: center;
}

.output-room {
  text-align: center;
}
