<h1>休憩部屋</h1>
<p>休憩時間は5分間、設定してスタートせよ</p>
<div class="container">
  <div id="timer">00:00.000</div>
  <div class="controls">
    <div id="min">Min</div>
    <div id="sec">Sec</div>
    <div id="reset">Reset</div>
    <div id="start">Start</div>
  </div>
</div>
<%= link_to "集中部屋へ", timers_index_path %>
<br>
<%= link_to "トップへ", "/" %>